In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

In [1]:
import pandas as pd

data = pd.read_json("./03_baseline_gap_data.json.zip")
data

,instance_name,num_vars,num_clauses,baseline_alg,baseline_alg_conf,Time,sample_size,path_to_baseline_sample,best_lower_bound,gap
0,APL,23.0,35.0,ACTS-IPOG-FT,t2,550.0,11.0,results/2023-07-16_22-29-39/9_1_0_1_sample.csv,7,36.363636
1,APL,23.0,35.0,ACTS-IPOG-CSP,t2,1220.0,11.0,results/2023-07-16_22-29-39/9_1_1_1_sample.csv,7,36.363636
2,APL,23.0,35.0,ACTS-IPOF-FT,t2,585.0,10.0,results/2023-07-16_22-29-39/9_1_2_1_sample.csv,7,30.000000
3,APL,23.0,35.0,ACTS-IPOF-CSP,t2,1191.0,10.0,results/2023-07-16_22-29-39/9_1_3_1_sample.csv,7,30.000000
4,APL-Model,28.0,40.0,ACTS-IPOG-FT,t2,619.0,15.0,results/2023-07-16_22-29-39/11_1_0_1_sample.csv,7,53.333333
...,...,...,...,...,...,...,...,...,...,...
137,soletta_2015-06-26_18-38-56,NaN,NaN,None,None,NaN,NaN,None,24,NaN
138,toybox_2006-10-31_23-30-06,NaN,NaN,None,None,NaN,NaN,None,8,NaN
139,toybox_2020-12-06_00-02-46,NaN,NaN,None,None,NaN,NaN,None,7,NaN
140,uclibc_2008-06-05_13-46-47,NaN,NaN,None,None,NaN,NaN,None,505,NaN
141,uclibc_2020-12-24_11-54-53,NaN,NaN,None,None,NaN,NaN,None,365,NaN

In [3]:
data.groupby(["baseline_alg"])[["gap"]].mean()

                     gap
baseline_alg
ACTS-IPOF-CSP  34.811256
ACTS-IPOF-FT   36.003317
ACTS-IPOG-CSP  36.144476
ACTS-IPOG-FT   36.464212

In [5]:
data["has_solution"] = data["path_to_baseline_sample"].apply(lambda x: 1 if x is not None else 0)
data.groupby("baseline_alg")[["has_solution"]].mean()

               has_solution
baseline_alg
ACTS-IPOF-CSP       0.40625
ACTS-IPOF-FT        0.43750
ACTS-IPOG-CSP       0.43750
ACTS-IPOG-FT        0.43750